@font-face {
  font-family: 'zaozigongfangtianliti';
  src: url('/zaozigongfangtianliti.ttf');
}

* {
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width: 100px;
  height: 100px;
}

.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite
}

.load :first-child {
  background: #ededed;
  animation-delay: -1.5s
}

.load :nth-child(2) {
  background: #458fff;
  animation-delay: -1s
}

.load :nth-child(3) {
  background: #ededed;
  animation-delay: -0.5s
}

.load :last-child {
  background: #ff8c66;
}

@keyframes spin {

  0%,
  100% {
    transform: translate(0)
  }

  25% {
    transform: translate(160%)
  }

  50% {
    transform: translate(160%, 160%)
  }

  75% {
    transform: translate(0, 160%)
  }
}